:host {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0 0.35rem;
  height: 3.7rem;
  background-color: var(--color-neutral-lightest);
  box-shadow: 0 0.2rem 0.3rem var(--color-neutral-light);

  .app-header {
    &__logo {
      height: 3.1rem;
    }

    &__text-content {
      display: inline;

      &-title {
        font-size: 1.185rem;
        letter-spacing: -0.5px;
        font-weight: 400;
      }

      &-subtitle {
        display: flex;
        align-items: center;
        gap: 0.3rem;
        padding-left: 0.25rem;

        color: var(--color-neutral-mid);

        font-size: 0.9rem;
        font-weight: 400;
        font-style: italic;

        &::before,
        &::after {
          content: '';
          display: inline-block;
          height: 0.01rem;
          margin-top: 0.05rem;
          background-color: var(--color-neutral-mid);
        }

        &::before {
          width: 0.5rem;
        }

        &::after {
          width: 2.5rem;
        }
      }
    }
  }
}
